/* Reset styles */
html, body {
    margin: 0;
    padding: 0;
    overflow: auto; /* Prevent scrollbars */
    overflow-y: auto;
    height: 100%; /* Make the body take full height */
   }
  
  body {
    position: relative;
    background: black; /* Ensure no white background */
  }
  
  .matrix-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
}

    /* Matrix Background */
  .matrix-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    overflow: auto;
    z-index: -1;
  }
  
  .button {
    display: inline-block;
    text-decoration: none; /* Remove underline from the link */
    color: #fff; /* Text color */
    background-color: #00AA00; /* Button background color */
    padding: 10px 20px; /* Button padding */
    font-size: 1.1em; /* Font size */
    border-radius: 6px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
}

.button:hover {
    background-color: #077607; /* Darker shade on hover */
    transform: scale(1.02); /* Slightly increase size on hover */
}
  
  @keyframes scroll {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  
  /* Content */
  #content {
    position: relative; /* Use relative positioning */
    margin: 50px auto; /* Add spacing for better visibility */
    text-align: center;
    z-index: 2;
    max-width: 1200px;
     
}
  
  .h1 {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  
  .p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .social-links a {
    background-color: rgba(0, 0, 0, 0.3); /* Dark background */
    color: #ffffff;
	text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace; /* Change to your desired font */
    font-weight: bold; /* Makes the text bold */
    transition: color 0.5s;
    margin-right: 15px;
  }
  
  .social-links a:hover {
    color: #44ff00;
  }
  
  .main-text {
    display: inline-block;  /* Makes the div fit the text size */
    background-color: rgba(0, 0, 0, 0.3); /* Dark background */
    color: white;           /* Default text color is white */
	text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    font-family: 'Courier New', Courier, monospace; /* Font style */
    font-size: 50px !important;        /* Font size */
    line-height: 1.0;       /* Line height for better readability */
    width: 100%;             /* Adjust width to make it look better on desktop and mobile */
    max-width: 1500px;       /* Maximum width for large screens */
    margin: 20px auto;      /* Center the text block and add spacing */
    text-align: center;     /* Center the text inside the box */
    margin-top: 50px;
  }

  .bordered-text {
    display: inline-block;  /* Makes the div fit the text size */
    padding: 20px;          /* Adds padding around the text */
    border: 2px solid #00A700; /* Green border */
    border-radius: 8px;     /* Rounded corners */
    background-color: rgba(0, 0, 0, 0.8); /* Dark background */
    color: white;           /* Default text color is white */
    font-family: 'Courier New', Courier, monospace; /* Font style */
    font-size: 18px;        /* Font size */
    line-height: 1.5;       /* Line height for better readability */
    width: 80%;             /* Adjust width to make it look better on desktop and mobile */
    max-width: 800px;       /* Maximum width for large screens */
    margin: 20px auto;      /* Center the text block and add spacing */
    text-align: center;     /* Center the text inside the box */
  }

.bordered-text-ca {
    display: inline-block;  /* Makes the div fit the text size */
    padding: 5px;          /* Adds padding around the text */
    border: 0px solid #00A700; /* Green border */
    border-radius: 6px;     /* Rounded corners */
    background-color: rgba(255, 255, 255, 0.75); /* Dark background */
    color: #082600;           /* Default text color is white */
    font-family: 'Courier New', Courier, monospace; /* Font style */
    font-size: 20px;        /* Font size */
    line-height: 1.5;       /* Line height for better readability */
    width: 80%;             /* Adjust width to make it look better on desktop and mobile */
    max-width: 650px;       /* Maximum width for large screens */
    margin: 30px auto;      /* Center the text block and add spacing */
    text-align: center;     /* Center the text inside the box */
  }

.team-section {
            text-align: center;
            padding: 50px 20px;
        }

        .team-section h2 {
			color: #00AA00;
            font-size: 2.5em;
            margin-bottom: 20px;
			text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
        }

        .team-section h3 {
			color: #00AA00;
            font-size: 2.5em;
            margin-bottom: 5px;
			text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
        }

        .team-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .team-member {
            background: rgba(255, 255, 255, 0.85);
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 250px;
            text-align: center;
            overflow: hidden;
        }

        .team-member img {
            width: 100%;
            height: auto;
        }

        .team-member h3 {
            color: #00AA00;
			font-size: 1.2em;
            margin: 10px 0;
        }

        .team-member p {
            color: #292828;
            font-size: 0.9em;
            margin: 0 10px 20px;
        }

  
  .green-bold {
    color: #0F0;            /* Green color for NeoGuard.AI and AI agent */
    font-weight: bold;      /* Make them bold */
  }
  
  .red-bold {
    color: red;            /* Red color for harmful AI agents */
    font-weight: bold;     /* Make it bold */
  }

  .main-image {
    width: 100%;  /* Adjust the width as needed */
    max-width: 700px;  /* Set a max width */
    display: block;
    margin: 20px auto;  /* Center the image */
}

  .tokenomic {
    width: 100%;  /* Adjust the width as needed */
    max-width: 700px;  /* Set a max width */
    display: block;
    margin: 5px auto;  /* Center the image */
}
@media (max-width: 768px) {
    .bordered-text {
        width: 95%; /* Full width on small devices */
        font-size: 16px;
    }
    .main-text {
        font-size: 30px;
    }
}
canvas#tokenomicsChart {
    display: block;
    margin: 0 auto; /* Center the chart horizontally */
    position: relative; /* Ensure it is not fixed */
    width: 60%; /* Adjust the size of the chart */
    max-width: 600px; /* Optional: restrict maximum size */
    height: auto; /* Maintain aspect ratio */
    z-index: 2; /* Ensure it appears above the background */}